.grid-top-nav {
    /* height: 8vh; */
    background-color: #a4e59a  ;
}

.col-top-nav {
    padding: 1em;
}
.caret {
    cursor: pointer;
    /* position: absolute; */
    top: 5vh;
}
.customerSpan {
    background-color: white;
    height: 100%;
    width: 100%;
    display: table-cell;
    border-radius: 50%;
}

.customerSpan:active {
    box-shadow: 0 0 5px 0.5rem rgba(174, 197, 81, 0.33);
    -moz-box-shadow: 0 0 5px 0.5rem rgba(174, 197, 81, 0.33);
    -webkit-box-shadow: 0 0 5px 0.5rem rgba(174, 197, 81, 0.33);
}
.customerActive {
    box-shadow: 0 0 5px 0.5rem rgba(174, 197, 81, 0.33);
    -moz-box-shadow: 0 0 5px 0.5rem rgba(174, 197, 81, 0.33);
    -webkit-box-shadow: 0 0 5px 0.5rem rgba(174, 197, 81, 0.33);
}
.customerSpan:hover {
    box-shadow: 0 0 5px 0.3rem rgba(187, 155, 155, 0.18);
    -moz-box-shadow: 0 0 5px 0.3rem rgba(187, 155, 155, 0.18);
    -webkit-box-shadow: 0 0 5px 0.3rem rgba(187, 155, 155, 0.18)
}
.customerImage {
    cursor: pointer;
    width: 7vh;
    height: 7vh;
    border-radius: 45%;
}
.customerGrayImage {
    -webkit-filter: grayscale(100%) brightness(0); /* Safari 6.0 - 9.0 */ 
    filter: grayscale(100%) 
    brightness(0); 
    opacity: 0.6;

}

.bg-success {
    background-color: #00ff00 !important;
}
/* .caretLeft {
    left: 5%;
} */
.customer-list {
    margin: 4.5vh;
}
.col-md-10 {
    padding: 0 2%;
}
.img-container {
    /* position: relative; */
    cursor: pointer;
    /* margin: 0 2%; */
    float: left;
    overflow: hidden;
    display: contents;
}

.img-container {
    content: "";
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:99;
}
/* .image-span {
    margin: 1% 2%;
} */
.queue {
    margin: 0 3% 0 0;
    height: 95%;
    border-radius: 50%;
    /* border: 1px solid black; */
}

.progress {
    z-index: 9999;
    height: 0.6rem !important;
    position: absolute;
    display: inline-flex !important;
    width: 45px;
    top: 4.25vh;
    /* margin-left: 3%; */
    border: 0.5px solid black;
    /* -webkit-transform-origin: 0 100%;
    -webkit-transform: rotate(90deg);
    -moz-transform-origin: 0 100%;
    -moz-transform: rotate(90deg);
    -ms-transform-origin: 0 100%;
    -ms-transform: rotate(90deg);
    transform-origin: 0 100%;
    transform: rotate(90deg); */
}

.progress-bar {
    border: 0.8px solid black;
}


.navBtn {
    margin: 0 1.5%;
    cursor: pointer;
}

.carousel-control-prev, .carousel-control-next {
    color: black !important;
    width: 7% !important;
    cursor: pointer;
}

.isHidden {
    display: none;
}

.clock {
    margin-left: 0.3vw;
    border: 1px solid black;
    border-radius: 50px;
    width: 6vw;
    height: 6vw;
    background-color: white;
}

.react-clock__face {
    background-color: white;
}

/** TARGET BROWSERS */
@-moz-document url-prefix() {
    .progress {
        margin: 3%;
    }
}

.classAB {
    display: inline;
}

.carousel-item {
    width: auto !important;
}
.interaction {
    background: url('./customer-john.png');
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.customerInteraction {
    z-index: 9999;
    left: 0;
    bottom: 0;
    position: relative;
}

.currentCount {
    margin-top: 5%;
    position: absolute;
    border-radius: 4px;
    font-weight: 700;
    background-color: #80d0a2;
    width: 40px;
    z-index: 999999 !important;
    left: 3.5%;
}

.fa-layers {
    top: 2vh;
    position: absolute;
    cursor: pointer;
    right: 4vw;
}
.bs-popover-right {
    z-index: 9999 !important;
    min-width: 70vw;
    height: 30vh;
}