.grid-main-nav {
    height: 90vh;
}

 /** callout */
 
div.callout {
	height:25vh;
	width: 25vw;
    float: left;
    text-align: left;
}
.convo {
    background-color: #a4e59a;
    padding: 0 13px 0 26px !important;
}
.weboject {
    background-color: #595a59;
}
.distractors {
    background-color: #7b7b7b;
    padding: 10px 22px 0 8px !important;
}
.conversation {
    height: 70vh;
    margin-top: 7%;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
.divOverflow {
    height: auto;
}


.john {
    position: absolute;
    z-index: 9999;
    margin-left: 1vw;
    height: 6vh;
    width: 7vh;
    bottom: 0;
    right: 0;
}
div.callout {
    font-size: 2.5vh;
    font-weight: 500;
	background-color: #444;
    color: white;
    border-radius: 6px;
    margin: 1.5%;
    min-height: 20px;
    z-index: 999;
    width: auto;
    height: auto;
    padding: 3.5%;
}

.calloutRight {
	background-color: #bbbbbb;
    color: white;
    border-radius: 6px;
    min-height: 20px;
    z-index: 999;
    padding: 10%;
    margin-top: 18px;
    cursor: pointer;
    transition: 
        color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}

#style-3::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #b7b7b7;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #959595;
}

.right {
    float: right !important;
    margin-right: 0.7vw !important;
}
#calloutText {
	margin: 5%;
	text-align: center;
	font-size: calc(2vw + 1vh)
}
.johnImage {
    width: 35px;
    margin-top: 2vh;
    border-radius: 40px;
}

.bgConvo-left {
    border-radius: 40px;
    margin: 2% 3%;
}
.isOrange {
    background-color: #555555 !important;
}
.isGreen {
    background-color: #a1a1a1 !important;
}
.isBlue {
    background-color: #34b9ef !important;
}
.bgConvo-right {
    float: left;
    clear: both;
}

.timer {
    padding: 1.8vh 0;
    font-weight: 700;
}

.toggleDialog {
	width: 10%;
	float: right;
	cursor: pointer;
	margin: 2% 5% 0 0;
	color: white;
	font-size: x-large;
}

.isHidden {
    /* visibility: hidden; */
    display: none !important;
}

.longDiv {
    height: 80vh;
}

#popover-basic {
    padding: 1%;
}

.calendar {
    font-size: 1.9vh;
}

.calloutRight:hover {
    background-color: #a59898;
}
.calloutRight:active {
    background-color: #a29494;
}
.calloutRight:active, .calloutRight:focus {
    box-shadow: 0 0 0 0.2rem rgba(197, 196, 196, 0.49)
}

.convo1, .convo2 {
    height: auto;
    display: flow-root;
    width: 100%;
}

.mainNavBtns {
    position: absolute;
    bottom: 2vh;
    width: 100%;
}
.mainWebObject {
    height: 100%;
}

.element {
    font-size: 7em;
    position: relative;
}

.class2 {
    font-size: 5.2vh;
    font-weight: 700;
    display: inline-block;
    margin: 1.7vh 0.6vw;
    padding: 1%;
    word-wrap: break-word;
    position: absolute;
    z-index: 9999;
}

.fa-calendar {
    margin-top: 2.6vh;
    position: relative;
}
.list-group {
    display: block !important;
}
.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #80d0a2;
}

.webObjImage {
    width: 100%;
    margin-top: 4vh;
}

.startContainer {
    margin-top: 40vh;
}

.tillList {
    position: absolute;
    width: 5vw;
    margin-top: 2vh !important;
}

.tillListItem {
    display: table-cell !important;
    background-color: transparent !important;
    border: 0 !important;
    padding: 0.50rem 0.75rem !important;
    z-index: 9999;
}

.distractorFont {
    margin-top: 2vh;
}

.nextBtn {
    background-color: rgb(253, 253, 36) !important;
    color: black !important;
}

.nextBtn:hover {
    background-color:rgb(241, 241, 52) !important;
    color: black !important;
}

.distract {
    padding: 2vh 0;
}

.convoSpan {
    /* display: inline-block; */
    width: 68%;
    margin: 0 auto;
}